<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- If you say the feature is required for your app, then the Google Play store
         will hide your app from users on devices lacking those features.
         For this reason, you should only set the required attribute to `true`
         if your app can't work without the feature.
         TODO then make it false to check in runtime
         TODO https://developer.android.com/guide/topics/connectivity/bluetooth/permissions#availability-->
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <!-- Needed only if your app looks for Bluetooth devices.
         If your app doesn't use Bluetooth scan results to derive physical
         location information, you can strongly assert that your app
         doesn't derive physical location.
         Include "neverForLocation" only if you can strongly assert that
         your app never derives physical location from Bluetooth scan results.
         [android:usesPermissionFlags="neverForLocation"] -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />

    <!-- Needed only if your app communicates with already-paired Bluetooth devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <!-- Request legacy Bluetooth permissions on older devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />

    <!-- Needed only if your app uses Bluetooth scan results to derive physical location. -->
    <!-- uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" android:maxSdkVersion="36" />

    <!-- Needed on Android 11 and lower, as a Bluetooth scan could potentially be used
         to gather information about the location of the user.
         If your app targets Android 9 (API level 28) or lower, you can declare the
         ACCESS_COARSE_LOCATION permission instead of the ACCESS_FINE_LOCATION permission. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" android:maxSdkVersion="36" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>